# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

frontend/voting-app/.env

mainnet_account.txt
backend/.env
backend/node_modules

blockchain/test-voting/node_modules
blockchain/test-voting/test/index.js
blockchain/test-voting/.env

blockchain/votingplat/node_modules

blockchain/*/node_modules

.vscode 
